[project]
	description = Diff & patch JavaScript objects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gobindadas
[access "refs/for/refs/*"]
	read = group user/gobindadas
	push = group user/gobindadas
	label-Code-Review = -2..+2 group user/gobindadas
	label-Verified = -1..+1 group user/gobindadas
	rebase = group user/gobindadas
	removeReviewer = group user/gobindadas
	submit = group user/gobindadas
[access "refs/heads/*"]
	read = group user/gobindadas
	create = group user/gobindadas
	push = +force group user/gobindadas
	pushMerge = group user/gobindadas
[access "refs/tags/*"]
	push = group user/gobindadas
	push = +force group user/gobindadas
